body {
    background-color: white;
}

header {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    /* padding-bottom: 50px; */
    /* border: rgb(2, 81, 144); */
    border: rgba(2, 81, 144, 0.2);
    border-bottom-style: solid;
    display: grid;
    /* height: 100%; */
    grid-template-rows: 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: 60px 60px; */
    grid-template-columns: 700px 700px;
    grid-gap: 50px;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(2, 81, 144, 0.52);
    text-align: left;
    font-size: 50px;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table {
    display: table;   
    margin-right: 30px;
    padding-top: 35px;
}

ul#nav {
    text-align: center;
	list-style: none;
}

ul#nav li {
    display: inline;
}

.shadow {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    /* margin-right: auto; */
    color: rgb(139, 214, 255);
    word-spacing: 10px;
}

a {
    /* color: rgb(2, 81, 144); */
    color: rgba(2, 81, 144, 0.52);
    text-decoration: none;
}

main { 
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    /* grid-template-columns: repeat(2, 1fr); */
    /* grid-template-columns: 60px 60px; */
    grid-template-columns: 600px 650px;
    grid-gap: 10px;
}

.ProfilePic { 
    display: block;
    height: 450px;
    width: 450px;
    border-radius: 50%;
    border: 3px solid #2c5fa8; 
    margin-left: 60px;
    margin-top: 60px;
}

p {
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    text-align: justify;
    line-height: 1;
    /* text-align: left; */
    /* color: rgb(2, 81, 144); */
    /* color: black; */
    color: #0000009e;
    font-size: 20px;
    padding-top: 40px;
}