/*=========  MOBILE FIRST STYLING ========*/
body {
    height: 100vh;
    background-color: white;
    width: auto;
}

header {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    border: rgba(2, 81, 144, 0.2);
    border-bottom-style: solid;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 5px;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(2, 81, 144, 0.52);
    text-align: center;
    font-size: 20px;
    letter-spacing: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.table {
    display: table;   
    padding-top: 5px;
    margin-left: auto;
    margin-right: auto;
}

ul#nav {
    text-align: center;
	list-style: none;
}

ul#nav li {
    display: inline;
}

.shadow {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    word-spacing: 19px;
}

a {
    color: rgba(2, 81, 144, 0.52);
    text-decoration: none;
}
/*=== END OF HEADER ===*/

/*=== START OF CONTAINER ===*/
.school-image {
    /* align-content: center; */
    text-align: center;
    /* margin-left: 24%;
    margin-right: 24%; */
}

.grid { 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
    align-content: center;
}

.grid > article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
}

.grid > article img {
    max-width: 100%;
    align-content: center;
}

.grid > article {
    max-width: 375px;
    margin-bottom: 30px;
}

.text {
    padding: 0 20px 20px;
}

.grid > article:nth-child(1) {
    grid-column: span 2;
    grid-row: span 1;
}

.grid > article:nth-child(2) {
    grid-column: span 2;
    grid-row: span 1;
}

.grid > article:nth-child(3) {
    grid-column: span 2;
    grid-row: span 1;
}

h3, h4, h5, p {
    font-family: 'Josefin Sans', sans-serif;
    color: #000000e3;
}

h3, h4, h5 {
    text-align: center;
}

strong {
    font-style: bold;
    color: #000000e3;
}

h3 {
    font-size: 24px;
    line-height: 1;
    padding-top: 20px;
}

h4 {
    font-size: 20px;
    line-height: 1.2;
    padding-top: 15px; 
}

h5 {
    font-size: 18px;
    line-height: 1.2;
    padding-top: 15px; 
}

P {
    text-align: left;
    line-height: 1.2;
    font-size: 18px;
    padding-top: 10px; 
    padding-bottom: 10px;
}

li {
    padding-bottom: 5px;
}

.list-items {
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    list-style-type: square;
    line-height: 1.2;
    color: #0000009e;
    font-size: 16px;
    margin-left: 18px;
    padding-top: 4px; 
    margin-bottom: 10px;
} 
/*=== END OF CONTAINER ===*/

/*=== START OF FOOTER ===*/
.bottom {
    font-family: 'Roboto Condensed', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 5px;
    bottom: 0;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: rgba(2, 81, 144, 0.52);
    background-color: white;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 10px;
}
/*=== END OF FOOTER ===*/

/*=========  TABLET STYLING ========*/
@media only screen and (min-width: 768px) { 
    body {
        height: 100vh;
        background-color: white;
        width: auto;
    }

    header {
        display: grid;
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 5px;
    }

    h1 {
        text-align: left;
        font-size: 40px;
        letter-spacing: 2px;
        margin-left: 25px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .table {
        margin-right: 30px;
        padding-top: 35px;
    }

    ul#nav {
        text-align: center;
        list-style: none;
    }

    ul#nav li {
        display: inline;
    }

    .shadow {
        font-size: 15px;
        word-spacing: 19px;
    }

    a {
        color: rgba(2, 81, 144, 0.52);
        text-decoration: none;
    }
    /*===== END OF HEADER =====*/

    /*=== START OF CONTAINER ===*/
    .school-image {
        /* align-content: center; */
        text-align: center;
        margin-left: 0;
        margin-right: 0;
    }

    .grid { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        padding-top: 15px;
        padding-bottom: 20px;
        margin: 5px;
    }

    .grid > article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    }

    .grid > article img {
        max-width: 100%;
    }

    .grid > article {
        max-width: 502px;
        margin-bottom: 20px;
    }

    .grid > article:nth-child(1) {
        grid-column: span 2;
        grid-row: span 2;
    }

    .grid > article:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid > article:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }

    h3 {
        font-size: 30px;
    }

    h4 {
        font-size: 26px;
    }

    h5 {
        font-size: 22px;
    }

    P {
        font-size: 20px;
    }

    .list-items {
        list-style-type: square;
        line-height: 1.2;
        font-size: 20px;
    } 
    /*=== END OF CONTAINER ===*/
    /*=== SAME AS MOBILE ===*/
}
/*=== END OF TABLET STYLING ===*/

/*=========  DESKTOP STYLING ========*/
@media only screen and (min-width: 1300px) { 

    header {
        grid-gap: 10px;
    }

    h1 {
        font-size: 50px;
        margin-left: 45px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .table {
        padding-top: 35px;
    }

    .shadow {
        font-size: 19px;
        word-spacing: 40px;
    }

    a {
        font-size: 27px;
    }
    /*===== END OF HEADER =====*/

    /*=== START OF CONTAINER ===*/
    .grid { 
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(430px, 1fr));
    }

    .grid > article {
        border: 1px solid #ccc;
        box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
    }

    .grid > article img {
        max-width: 100%;
    }

    .grid > article {
        max-width: 675px;
    }

    .grid > article:nth-child(1) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid > article:nth-child(2) {
        grid-column: span 1;
        grid-row: span 1;
    }

    .grid > article:nth-child(3) {
        grid-column: span 1;
        grid-row: span 1;
    }

    h3 {
        font-size: 28px;
        font-weight: bold;
    }

    h4 {
        font-size: 26px;
        line-height: 1.2;
        padding-top: 15px; 
    }

    h5 {
        font-size: 24px;
    }

    P {
        font-size: 20px;
    }

    li {
        padding-bottom: 5px;
    }

    .list-items {
        font-size: 19px;
    } 
    /*=== END OF CONTAINER ===*/

    /*=== SAME AS MOBILE ===*/
}
/*=== END OF DESKTOP STYLING ===*/