body {
    background-color: white;
}

header {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    border: rgba(2, 81, 144, 0.2);
    border-bottom-style: solid;
    display: grid;
    grid-template-rows: 1fr;
    /* grid-template-columns: 700px 700px; */
    grid-template-columns: 50% 65%;
    /* grid-gap: 50px; */
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(2, 81, 144, 0.52);
    text-align: left;
    font-size: 50px;
    letter-spacing: 2px;
    margin-left: 65px;
    /* margin-left: 20px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.table {
    display: table;   
    /* margin-right: 30px; */
    padding-top: 35px;
}

ul#nav {
    text-align: center;
	list-style: none;
}

ul#nav li {
    display: inline;
}

.shadow {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: rgb(139, 214, 255);
    word-spacing: 30px;
}

a {
    color: rgba(2, 81, 144, 0.52);
    text-decoration: none;
}

/*================*/

h2 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(2, 81, 144, 0.52);
    font-size: 30px;
    margin: 20px 10px 5px 10px;
}

/*================*/

.container {
    display: grid;
    max-width: auto;
    max-height: auto;
    /* margin: auto; */
    grid-template-areas: "tech-logo  tech-info"
                         "troy-logo  troy-info"
                         "ohio-logo  ohio-info";
    grid-template-rows: 255px 188px 188px;
    /* grid-template-columns: 1fr 3fr; */
    grid-template-columns: 17% 80%;
    grid-gap: 10px;
    /* align-items: center; */
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
    justify-items: center;
}

.tech-logo, .troy-logo, .ohio-logo {
    /* background-repeat: no-repeat; */
    align-items: center;
}

.tech-logo {
    padding-top: 40px;
    border-bottom: 1px solid black;
}

.troy-logo, .ohio-logo {
    border-bottom: 1px solid black;
}

.tech-info {
    border-bottom: 1px solid black;
    grid-area: "tech-info";
    width: 860px;
}

.troy-info{
    border-bottom: 1px solid black;
    grid-area: "troy-info";
    width: 860px;
}

.section-subtitle-troy, .section-subtitle-ohio {
    padding-top: 65px;
}

.ohio-info{
    border-bottom: 1px solid black;
    grid-area: "ohio-info";
    width: 860px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 1;
    color: #000000e3;
    padding-top: 20px;
}

h4 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    font-size: 20px;
    line-height: 1.2;
    color: #000000e3;
    padding-top: 10px; 
}

P {
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    line-height: 1;
    color: #0000009e;
    font-size: 18px;
    padding-top: 10px; 
    padding-left: 20px;
    padding-bottom: 10px;
}

.list-items {
    font-family: 'Josefin Sans', sans-serif;
    text-align: left;
    list-style-type: square;
    line-height: 1.1;
    color: #0000009e;
    font-size: 18px;
    margin-left: 50px;
    padding-top: 4px; 
}