body {
    background-color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    position: relative;
    border: rgba(2, 81, 144, 0.2);
    border-bottom-style: solid;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 700px 700px;
    grid-gap: 50px;
}

h1 {
    color: rgba(2, 81, 144, 0.52);
    text-align: left;
    font-size: 50px;
    letter-spacing: 2px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table {
    display: table;   
    margin-right: 30px;
    padding-top: 35px;
}

ul#nav {
    text-align: center;
	list-style: none;
}

ul#nav li {
    display: inline;
}

.shadow {
    font-size: 15px;
    color: rgb(139, 214, 255);
    word-spacing: 10px;
}

a {
    /* color: rgb(2, 81, 144); */
    color: rgba(2, 81, 144, 0.52);
    text-decoration: none;
}

/*================*/
.container {
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 50px;
}

.techBlock, .troyBlock, .ohioBlock {
    width: 1049px;
    height: 174px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid transparent;
    border-radius: 1px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, #c9c7c8, #d9d5d9);
    background-origin: border-box;
    background-clip: content-box, border-box;
}

.one, .two, .three {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr;
    grid-template-columns: 175px 875px;
    grid-row-gap: 30px;
    justify-content: center;
    padding: 0px 0px 0px 0px;
    border-bottom: 1px solid #dcd9d9;
    text-align: center;
}

.griditem2 {
    grid-column: 2 / 2;
}

h2 {
    text-align: center;
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(2, 81, 144, 0.52);
    font-size: 30px;
    margin: 20px 10px 5px 10px;
}

h3 {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    line-height: 1;
    color: #0000009e;
    font-size: 20px;
    padding-top: 20px;
}

.subtitle {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    line-height: 1;
    color: #0000009e;
    font-size: 20px;
    padding-top: 20px;
}


p {
    font-family: 'Josefin Sans', sans-serif;
    text-align: justify;
    line-height: 1;
    /* text-align: left; */
    /* color: rgb(2, 81, 144); */
    /* color: black; */
    color: #0000009e;
    font-size: 20px;
    padding-top: 40px;
}