/*=========  MOBILE FIRST STYLING ========*/
body {
    height: 100vh;
    background-image: url("../images/rawpixel-609022-unsplash.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.table {
    display: table; 
    margin: 5px auto;
    padding-bottom: 80px;
}

.shadow {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 5px;
    z-index: 3;
    font-size: 18px;
    top: 5px;
    width: 340px;
    height: 35px;
    padding-top: 17px;
    background-color: white;
    color: rgb(139, 214, 255);
    word-spacing: 11px;
}

ul#nav {
    text-align: center;
    list-style: none;
}

ul#nav li {
    display: inline;
}

a {
    color: rgb(2, 81, 144);
    text-decoration: none;
}

#lead {
    z-index: 2;
}
  
h1 {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
    line-height: 1;
    z-index: 3;
    font-size: 50px;
    letter-spacing: 3px;
    color: white;
}

h2 {
    position: relative;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    z-index: 5;
    font-size: 35px;
    font-weight: bold;
    padding-top: 50px;
    color: rgb(206, 233, 254);
}

#lead-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(38, 126, 208);
    z-index: 1;
    opacity: .9;
    cursor: pointer;
}

/*=========  TABLET STYLING ========*/
@media only screen and (min-width: 750px) { 
    
    .table {
        display: table; 
        margin: 5px auto;
        padding-bottom: 150px;
    }
    
    .shadow {
        font-size: 22px;
        top: 10px;
        width: 390px;
        height: 35px;
        padding-top: 17px;
    }
      
    h1 {
        line-height: 1.3;
        font-size: 60px;
    }
    
    h2 {
        font-size: 40px;
        padding-top: 60px;
    }
}

/*=========  DESKTOP STYLING ========*/
@media only screen and (min-width: 1000px) { 


    .table {
        display: table; 
        margin: 10px auto;
        padding-bottom: 210px;
    }
    
    .shadow {
        font-size: 25px;
        top: 15px;
        width: 450px;
        height: 40px;
        padding-top: 16px;
    }
      
    h1 {
        line-height: 1.3;
        font-size: 80px;
    }
    
    h2 {
        font-size: 50px;
        padding-top: 65px;
    }
}

/* @media only screen and (max-width: 600px) {

} */