body {
    background-color: white;
}

header {
    position: relative;
    font-family: 'Roboto Condensed', sans-serif;
    border: rgba(2, 81, 144, 0.2);
    border-bottom-style: solid;
    display: grid;
    grid-template-rows: 1fr;
    /* grid-template-columns: 700px 700px; */
    grid-template-columns: 50% 65%;
}

h1 {
    font-family: 'Roboto Condensed', sans-serif;
    color: rgba(2, 81, 144, 0.52);
    text-align: left;
    font-size: 50px;
    letter-spacing: 2px;
    margin-left: 65px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.table {
    display: table;   
    /* margin-right: 30px; */
    padding-top: 35px;
}

ul#nav {
    text-align: center;
	list-style: none;
}

ul#nav li {
    display: inline;
}

.shadow {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    color: rgb(139, 214, 255);
    word-spacing: 30px;
}

a {
    color: rgba(2, 81, 144, 0.52);
    text-decoration: none;
}

/*================*/

main { 
    /* position: relative;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr; */
    /* grid-template-rows: 300px 300px 300px; */
    /* grid-template-columns: 400px 919px;
    grid-gap: 10px;
    padding: 55px 55px 55px 55px; */
}

.grid-container {
    height: 100%;
    display: grid;
    grid-gap: 10px;
    background-color: #2196F3;
    /* padding: 10px; */
    padding: 65px 65px 65px 65px;
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px;
    font-size: 30px;
}

.image1 {
    grid-column: 1;
    grid-row: 1;
    /* background-image: url("../images/Momentum_Morning_2.jpeg"); */
    /* background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 730px; */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    height: 200px;
    width: 200px;
}

.image2 {
    grid-column: 1;
    grid-row: 2;
    background-image: url("../images/Momentum_Afternoon_2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 730px;
}

.image3 {
    grid-column: 1;
    grid-row: 3;
    background-image: url("../images/Momentum_Evening_2.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;
    width: 730px;
}

.item4 {
    grid-column: 2;
    grid-row: 1 / span 3;
}

/* .responsive {
    max-width: 100%;
    height: auto;
} */
  
  

/* .row {
    padding-top: 116px;
} */

p {
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Roboto Condensed', sans-serif; */
    text-align: justify;
    line-height: 1.2;
    color: #0000009e;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 75px;
}

/*======================*/

.bottom {
    font-family: 'Roboto Condensed', sans-serif;
    border: rgba(2, 81, 144, 0.2);
    border-top-style: solid;
    bottom: 0;
}

.footer {
    position: absolute;
    font-family: 'Josefin Sans', sans-serif;
    bottom: 0;
    color: rgba(2, 81, 144, 0.52);
    text-align: center;
    padding-left: 41%;
    padding-bottom: 5px;
}